.doctor_details_bg {
  background-image: url('../../assets/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
  background-attachment: fixed;
  min-height: 100vh;
}

.boxshadow {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.nextBtn {
  width: 10%;
  left: 0;
  border: none;
  outline: none;
  background-color: #97bd28;
  color: white;
  padding: 20px;
}

.appointBtn {
  width: 100%;
    left: 0;
    border: none;
    outline: none;
    background-color: #97bd28;
    color: white;
    padding: 20px;
}
.appointBtn a {
    background-color: #97bd28;
    color: white;
}