.doctor-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.custom_nav a {
  text-decoration: none;
  color: black;
}

.active {
  background-color: dodgerblue;
  color: white !important;
}

.carousel-content {
  height: 100vh;
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.carousel-btn.prev {
  left: 0;
}

.carousel-btn.next {
  right: 0;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-content div {
  display: flex;
  align-items: center;
  padding: 0 5px;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
}
